<div class="container">
    <div *ngIf="response"> <h6 class="alert alert-success">{{response}}</h6> </div>
    <div *ngIf="reserr"> <h6 class="alert alert-danger">{{reserr}}</h6> </div>
    <h5>View Purchase Order</h5><br>
    <table class="table table-hover table-striped">
        <thead>
            <th>Sr No.</th>
            <th>PO No</th>
            <th>Date Added</th>
            <th>To</th>
            <th>Ship To</th>
            <th>Contact</th>
            <th>Total</th>
            <th>Action</th>
        </thead>
        <tbody>
            
            <tr *ngFor="let po of polist ; let i =index">
                <td>{{i+1}}</td>
                <td>{{po.prefix}}/{{po.po_no}}</td>
                <td>{{po.po_date}}</td>
                <td>Tidycasa</td>
                    <td>{{po.vendor.vendor_name}}</td>
                    <td>{{po.vendor.vendor_contact}}</td>
                    <td>{{po.total_amount}}</td>
                    <td> <button class="btn btn-primary" (click)="getPurchaseOrder(po.po_id)" ><i class="fa fa-eye"></i> </button></td>
            </tr>
        </tbody>
    </table>
</div>