<div class="container">
     <!-- start: PAGE HEADER -->
     <div class="row">
        <div class="col-sm-12">
            
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item" >
                    <a routerLink="/home"> <i class="fa fa-home"></i>&nbsp;Home </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Add Party</li>
            </ol>
        </div>
        </div>
    <form (ngSubmit)="saveParty()" method="post">
        <div class="form-group">
            <label for="party_name">Party Name</label>
                <input type="hidden" name="party_id" [(ngModel)]="party.party_id">
                <input type="text" name="party_name" id="party_name" class="form-control mb-3" [(ngModel)]="party.party_name" required>
        </div>
      <input type="submit" class="btn btn-primary" value="Add Party" />
    </form>
</div>