<div class="container" >
    <!-- start: PAGE HEADER -->
    <div class="row">
    <div class="col-sm-12">
        
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item" >
                <a routerLink="/"> <i class="fa fa-home"></i>&nbsp;Home </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Edit Invoice</li>
        </ol>
    </div>
</div>
<div class="card">
    <div class="card-header"> <h4>Edit Invoice</h4> </div>
    <div class="card-body">
    <form (ngSubmit)="addPrefix()"  method="post">
        <div class="form-group">
            <label for="fin_year">Financial Year</label>
                <input type="text" name="fin_year" id="fin_year" [(ngModel)]="prefix.fin_year" class="form-control mb-3">
        </div>
        <div class="form-group">
            <label for="prefix">Financial Prefix</label>
                <input type="text" name="prefix" id="prefix" [(ngModel)]="prefix.prefix" class="form-control mb-3">
        </div>
    </form>

</div></div></div>