<div class="container" >
    <!-- start: PAGE HEADER -->
     <div class="row">
      <div class="col-sm-12">
          
          <!-- start: PAGE TITLE & BREADCRUMB -->
          <ol class="breadcrumb">
              <li class="breadcrumb-item" >
                  <a routerLink="/home"> <i class="fa fa-home"></i>&nbsp;Home </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Change Password</li>
          </ol>
      </div>
     </div>


     <div class="card">
        <div class="card-header"> <h4>Change Password</h4> </div>
        <div class="card-body">
        <form (ngSubmit)="changePassword()"  method="post">
            <input type="hidden" name="user_id" [ngModel]="user.user_id" >
            <input type="hidden" name="username" [ngModel]="user.username" >
            <div class="form-group">
                <label for="password">New Password</label>
                    <input type="password" name="password" id="password" [(ngModel)]="user.password" class="form-control mb-3" required>
            </div>
            <div class="form-group">
                <label for="cnf_password">Confirm New Password</label>
                    <input type="password" name="cnf_password" id="cnf_password" [(ngModel)]="user.cnf_password" class="form-control mb-3" required>
            </div>
            <button class="btn btn-primary">Update</button>
        </form>
    
    </div></div>
  </div>