
/* Style the navigation bar */
*{
  overflow: hidden; /* Hide scrollbars */
}
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 55px;
  left: 0;
  background-color: #d1e0e4;
  overflow-x: hidden;
  padding-top: 35px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #252424;
  display: block;
}

.sidebar a:hover {
  color: #221d1d;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
   
  margin-top: 55px;
  padding: 0px 10px  0px 10px;
  
}
 

.main a{
  color:  black;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
a:hover,a:active,a:visited,a:link {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .main {
    left: 0;
  }
   
}

 .contain{
      display: flex; /* Flexbox enables side-by-side placement */
      justify-content: space-evenly ; /* Adds space between the items */
      flex-wrap: wrap; /* Allows wrapping of items when the container is too narrow */

 }
 .cardobj {
  height: 150px;
  width: 200px;
  background-color: #d1e0e4;
  font-size: 20px;
  border-radius: 12px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
   
}
.cardobj > a{
  color: rgb(0, 0, 0);
}
 
