<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
 
  <div class="sidebar">
    <a routerLink="/viewinvoice"><i class="fa fa-fw fa-home"></i> Invoice</a>
    <a routerLink="/viewvendors"><i class="fa fa-fw fa-wrench"></i> Vendors</a>
    <a routerLink="/viewpurchaseorder"><i class="fa fa-fw fa-user"></i> Purchase Order</a>
    <a routerLink="/viewproduct"><i class="fa fa-fw fa-envelope"></i> Products</a>
  </div>
 
  <div class="main">
    <div style="background-color: #d1e0e4" id="appname">
        <h2 class="text-center text-uppercase"><strong>Store  application</strong></h2>
    </div>

    <div class="contain">
        <div class="cardobj">
            <a routerLink="/addinvoice">Add Invoice </a>
        </div>

        <div class="cardobj">
            <a routerLink="/addcustomer"  >Add Customer</a>
        </div>

        <div class="cardobj">
            <a routerLink="/viewinvoice" >View Invoice</a>
        </div>
        <div class="cardobj">
            <a routerLink="/viewcustomers" >View Customer</a>
        </div>
  </div>
</div>
   