<div class="container">
     <!-- start: PAGE HEADER -->
   <div class="row">
    <div class="col-sm-12">
        
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item" >
                <a routerLink="/"> <i class="fa fa-home"></i>&nbsp;Home </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Add Purchase Order</li>
        </ol>
    </div>
   </div>

  <div class="card"> 
    <div class="card-header"> <h4>Add Purchase Order</h4> </div>
    
    <div class="card-body">
    <form (ngSubmit)="savePurchaseOrderProducts(purchase_prod)" method="post" #purchase_prod="ngForm">
        <div class="form-group">
            <label for="product">Product</label>
                <select id="product" name="product" class="form-control mb-3" [(ngModel)]="po_product.product">
                  <option selected>Please Select Any Product</option>
                  <option *ngFor="let prod of  prodlist ; let i=index" [ngValue]="prod">{{prod.prod_name}} </option>
                </select>
        </div>
        <div class="form-group">
            <label for="qty">Quantity</label>
                <input type="number" name="qty" class="form-control" [(ngModel)]="po_product.qty" id="qty" min="1">
        </div>
        <label>Select State</label><br>
        <div class="form-check mb-1">
            <input type="radio" class="form-check-input" id="maharashtra" [(ngModel)]="po_product.stoption" name="stoption" value="mh" checked>
            <label class="form-check-label" for="maharashtra">Maharashtra</label>
        </div>
            
        <div class="form-check  mb-1">
            <input type="radio" class="form-check-input" id="other" [(ngModel)]="po_product.stoption" name="stoption" value="ot">
            <label class="form-check-label" for="other">Other</label>
        </div>
      <button class="btn btn-primary" >Add Purchase Order Products</button>
    </form>

    <div class="col-sm-12 mt-2">
        <div class="card-header">
            <strong>Purchase Order Product List </strong>
        </div>
     <table class="table table-striped table-bordered" id="sample1" >
       <thead>
           <tr>
               <td>Sr.no</td>
               <td>Product Name</td>
               <td>HSN</td>
               <td>Price</td>
               <td>Quantity</td>
               <td>CGST</td>
               <td>SGST</td>
               <td>IGST</td>
               <td>Total</td>
               <td>Action</td>
           </tr>
       </thead>
       <tbody>
            <tr *ngFor="let prod of po_prod_list; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{prod.product.prod_name}}</td>
                    <td>{{prod.product.prod_hsn}}</td>
                    <td>{{prod.product.prod_price}}</td>
                    <td>{{prod.qty}}</td>
                    <td>{{prod.cgst}} ({{prod.cgst_per}}%)</td>
                    <td>{{prod.sgst}} ({{prod.sgst_per}}%)</td>
                    <td>{{prod.igst}} ({{prod.igst_per}}%)</td>
                    <td>{{prod.total}} </td>
                    
            </tr>
       </tbody>
     </table>
    </div>
    <div>
        <form (ngSubmit)="savePurchaseOrder()" method="post" >
            <div class="form-group mb-3">
                <label for="vendor">Select Vendor</label>
                 <select name="vendor" id="vendor" class="form-control" placeholder="Select Vendor" [(ngModel)]="purchase_order.vendor"> 
                    <option selected disabled>Please Select Vendor</option>
                        <option *ngFor="let vendor of vendlist" [ngValue]="vendor">{{vendor.vendor_name}}</option>
                 </select>
              </div>
            
            <div class="form-group mb-3">
                <label for="preparedby">Prepared By</label>
                    <input type="text" name="preparedby" id="preparedby" class="form-control" [(ngModel)]="purchase_order.prepared_by" placeholder="Prepared By">
            </div>
            <div class="form-group mb-3">
                <label for="tansport_charge">Transport Charges</label>
                    <input type="number" name="tansport_charge" id="tansport_charge" class="form-control" [(ngModel)]="purchase_order.transport_charge" placeholder="Enter Transport Charges">
            </div>
            <div class="form-group mb-3">
                <label for="packing_charge">Packing Charges</label>
                    <input type="number" name="packing_charge" id="packing_charge" class="form-control" [(ngModel)]="purchase_order.packing_charge" placeholder="Enter Packing Charges">
            </div>
            <button class="btn btn-primary">Save Purchase Order</button>
        </form>
    </div> 
</div>
</div>
</div>